<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header flex-center">
    <div class="container">
      <div class="content text-white" data-aos="fade-down">
        <span data-aos="fade">Here’s</span>
        <h1 class="mb-4">JOANNE</h1>
        <p class="mb-5">Founder of “XXXD Official’’ & Graphic Designer</p>
        <div class="icon d-flex">
          <img src="./assets/images/behance.svg" alt="">
          <img src="./assets/images/facebook.svg" alt="">
          <img src="./assets/images/instagram.svg" alt="">
          <img src="./assets/images/youtube.svg" alt="">
        </div>
      </div>
    </div>
  </header>

  <%- contents %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 1500,
        once: false,
      })
    </script>
</body>

</html>